body {
  background-color: #fefefe;
  font-size: 16px;
}
.sidebar {
    height: 95vh;
}
.leadBox {
  margin-top: 10em;
}
input[type=text],
input[type=number]{
  border-radius: 5px;
  padding-left: 10px;
}
.table-responsive {
  min-height: max-content;
  max-height: 50vh;
}
/* quick fix for making it look pretty */
form:nth-child(2),
form:nth-child(3) {
  border-top: 1px solid #ccc;
  margin-top: 20px;
}
.footer {
  width: 100%;
  background-color: #ede9e6;
  position: absolute;
  left: 0;
  bottom: 0;
}
